*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
.installed.cfg
bin
build
buildout.cfg
develop-eggs
dist
eggs
include
lib
lib64
local
parts
sdist
var

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

